.x1{
  background-color:red;  
  font-size:20px;
  color:white;
  border-width: 2px;
}
.x2{
  background-color:cyan;  
  font-size:20px;
  color:white;
  border-width: 2px;
}
.x3{
  background-color:brown;  
  font-size:20px;
  color:white;
  border-width: 2px;
}
.x4{
  background-color:black;  
  font-size:20px;
  color:white;
  border-width: 2px;
}
.x5{
  background-color:orange;  
  font-size:20px;
  color:white;
  border-width: 2px;
}
.x6{
  background-color:pink;  
  font-size:20px;
  color:white;
  border-width: 2px;
}
.x7{
  background-color:blue;  
  font-size:20px;
  color:white;
  border-width: 2px;
}
.x8{
  background-color:green;  
  font-size:20px;
  color:white;
  border-width: 2px;
}
.x9{
  background-color:aquamarine;  
  font-size:20px;
  color:white;
  border-width: 2px;
}

